html, body, #root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.crafty {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.crafty-header {
  background-color: #222;
  height: 59px;
  padding: 20px;
  color: white;
  text-align: center;
}

.column-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.canvas {
  flex: 1;
  height: 100%;
}

.canvas .urlbar-container {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}
.canvas .urlbar-container .browser-button {
  display: inline;
  padding: 5px;
}

.browser-button.back-button {
  transform: rotate(180deg);
}

.browser-button.fwd-button {
  margin-top: 5px;
}

.browser-button {
  font-size: 12px;
}

.canvas .urlbar {
  flex-grow: 1;
  height: 25px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.canvas iframe {
  border: 0;
}
