html, body, #root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 59px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.column-container {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.component-list {
  background-color: red;
  width: 200px;
  height: 100%;
}

.canvas {
  flex: 1;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px), repeating-linear-gradient(90deg, transparent, transparent 7px, rgba(0, 0, 0, 0.2) 1px, transparent 8px)
}

.component-tree {
  background-color: yellowgreen;
  width: 200px;
  height: 100%;
}

